{
  "ignorePatterns": ["*.js"],
  "plugins": ["@typescript-eslint", "react", "react-hooks"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  }
}